@charset "UTF-8";

.mbMypageApplySum{
	background: #fff;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    margin: 0 0 20px;
    padding: 26px 0 34px;
    height: 200px;
}

.mbMypageApplySum_title{
	font-size: 18px;
    padding: 0 32px 26px;
    font-weight: 700;
}

.mbMypageApplySum_ul{
	list-style:none;
	padding-left:0px;
}

.mbMypageApplySum_ul>li:first-of-type {
    border: none;
}

.mbMypageApplySum_ul>li {
    float: left;
    width: 33.3%;
    border-left: 1px solid #e1e2e3;
}

.mbMypageApplySum_ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}

.mbMypageApplySum_ul>li>a>em {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 11px;
    font-style: normal;
}

.mbMypageApplySum_ul>li>a>span {
    font-size: 16px;
    line-height: 19px;
}