@charset "UTF-8";


.BigBigContainer12 {
	
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.BigContainer12 {
	
	margin: 0 auto;	

}

.TopContainer {
	
		display: flex;	
		padding-bottom: 10px;
		border-bottom: 3px solid silver;
		max-width: 1300px;
		height:150px;
		position: sticky;
   		top: 0;
   		background: white;
   		justify-content: space-between;
   		z-index: 2;
		
}

.modal fade{
	z-index: 3;
	
}

.TopContainer > div {
	
	display: flex;
	width: 100%;
}


.MiddleContainer{
	display: flex;
}

.GmContainer {
		display: inline-block;	
		max-width: 800px;		
		border-right: 3px solid silver;	
}


.table th { 
 	min-width:100px;  
	width:100px; 
}


.Topupper {
	
	display: flex;
}


/* .Topupper > div {
	
	width: 50%;
	
} */

.Topupper_left{
	width:40%;
}
.Topupper_right{
	width:60%;
	padding-left: 10px;
}

.MenuContainer {
		display: inline-block;
		max-width: 500px;
		height: 500px;
	
}

.mapContainer {
	
	margin-top: 10px;
	margin-left: 10px;
	
}

.scrap_infos {
	display: none;
	
}



.anno_applys {
	display: flex;
} 



.anno_applys > div {
	margin: 0 auto;
}



.anno_apply_btn1 {
	
	width: 500px; 
	height:100px;
	background-color: #F1C40F;
	border-radius: 5px;
	color: white;
	font-size: 50px;
	
}


.GmContainer > div {
	
/* 	max-width: 90%; */
	padding: 10px;
	padding-top: 30px;
	
}

.Top1s {
	
	width: 70%;
}

.Top2s{
	margin-top: 50px;
}

.h1-style{
	font-family: 'Black Han Sans', sans-serif;
	font-size: 40px;
	margin-top: 50px;
	height: 120%;
}

.recruit_detail1 {
	
	border: 1px solid silver;
	border-radius: 5px;
	padding: 5px;
	
} 

.anno_info11{max-width: 90%;}
.anno_recruit11{max-width: 90%;}
.anno_deadline11{max-width: 90%;}
.anno_applys{max-width: 90%;}
