@charset "UTF-8";


.annolistContainer {
	
	display: flex;
}


.annolistContainer > div {
	
	margin: 0 auto;
	min-height: 500px;
	min-width: 1000px;
}

.annolisttitle{
	
	height: 150px;
}

.h2-style {
	font-family: 'Black Han Sans', sans-serif;
    font-size: 56px;
    font-weight: lighter;
   	display: inline-block;
    margin-top: 50px;
}


.anno_paging_container {
	
	display: flex;
}

.anno_paging_container > div {
	
	margin: 0 auto;
}


.searchset11{
	display: flex;
	float: right;
}

.searchset11 > div {
	
}

.anno_paging_container{
	float: left;
}








/* .anno {
	margin-top: 5%;
	
	background: #FFD700;
	
}

.anno_title {
	align-items: center;
	text-align: center;
	
	border: solid black;
	
}

h2{
	font-size: 30px;
	font-style: bold;
}

table{
	margin-left: 17%;
	margin-top: 2%;
	align-items: center;
	text-align: center;
	border: solid black;
	height: 200px;
	width: 1025px;
}

th{
	text-align: center;
	border-bottom: solid;
	height: 40px;
}

td{
	text-align: center;
	height: 40px;
}

.page{
	margin-top: 2%;
	text-align: center;
}







 */

