@charset "UTF-8";


.BigBigContainer12 {
	
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.BigContainer12 {
	
	margin: 0 auto;	

}

.TopContainer {
	
		display: flex;	
		padding-bottom: 10px;
		border-bottom: 3px solid silver;
		max-width: 1200px;
}

.TopContainer > div {
	
/* 	margin: 0 auto; */
	display: flex;
	width: 100%;
}


.MiddleContainer{
	display: flex;
}

.GmContainer {
		display: inline-block;	
		max-width: 800px;		
		border-right: 3px solid silver;	
}


.Topupper {
	
	display: flex;
}

.Topupper > div {
	
	width: 50%;
	
}

/* .anno_content{
	
	border: 1px solid silver;
}

.anno_condition{
	
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
} */







.MenuContainer {
		display: inline-block;
		max-width: 500px;
		height: 500px;
	
}

.mapContainer {
	
	margin-top: 10px;
	margin-left: 10px;
	
}

.scrap_infos {
	display: none;
	
}



.anno_applys {
	display: flex;
} 



.anno_applys > div {
	margin: 0 auto;
}



.anno_apply_btn1 {
	
	width: 500px; 
	height:100px;
	background-color: #F1C40F;
	border-radius: 5px;
	color: white;
	font-size: 50px;
	
}


.GmContainer > div {
	
	max-width: 80%;
/* 	margin: 0 auto; */
	padding: 10px;
	
}

.Top1s {
	
	width: 70%;
}



/* 
.detail {
	margin-top: 5%;
	background: #FFD700;
	
}

.detail_title {
	align-items: center;
	text-align: center;
	border: solid black;
}

h2{
	font-size: 30px;
	font-style: bold;
}

.com_name{
	margin-top: 2%;
	font-size: 30px;
	font-style: bold;
}

.com_name > input{
	position: right;
	
}

.com_title{
	margin-top: 2%;
	font-size: 20px;
	
}

table.anno_content{
	margin-left: 17%;
	margin-top: 2%;
	align-items: center;
	text-align: center;
	border: solid black;
	height: 300px;
	width: 1025px;
	background: green;
	font-size: 18px;
}

h3{
	margin-top: 4%;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	
}

th{
	text-align: center;
	border: solid;
	height: 60px;
	width: 200px;
}

td{
	text-align: center;
	border: solid;
	height: 60px;
}

table.anno_condition{
	margin-left: 17%;
	margin-top: 2%;
	align-items: center;
	text-align: center;
	border: solid black;
	height: 200px;
	width: 1025px;
	background: green;
	font-size: 18px;
}

table.com_info{
	margin-left: 17%;
	margin-top: 2%;
	align-items: center;
	text-align: center;
	border: solid black;
	height: 200px;
	width: 1025px;
	background: green;
	font-size: 18px;
}

table.anno_date{
	margin-left: 17%;
	margin-top: 2%;
	border: solid black;
	height: 100px;
	width: 1025px;
	background: green;
	font-size: 18px;
}


 */