@charset "UTF-8";

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*
#container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #fff;
    padding: 40px;
    box-sizing: border-container;
    border: 1px solid rgba(0, 0, 0 , .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
*/

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
	 margin-top:5%;
	 margin-bottom:5%;
	  height: 600px;;
	  width: 800px;
}

.container h2{
    margin: 0 0 40px;
    padding: 0;
    color: #FFD42C;
    text-transform: uppercase;
}
.container input{
    padding: 10px 0;
    margin-bottom: 30px;
}
.container textarea{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.container input,
.container textarea{
    width: 100%;
    box-sizing: border-container;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #999;
}
.container textarea{
    margin-bottom: 20px;
}
.container input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #FFD42C;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}
.container form div{
    position: relative;
}
.container form div label{
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}
.container input:focus ~ label,
.container textarea:focus ~ label,
.container input:valid ~ label,
.container textarea:valid ~ label{
    top: -12px;
    left: 0;
    color: #FFD42C;
    font-size: 12px;
    font-weight: bold;
}
.container input:focus,
.container textarea:focus,
.container input:valid,
.container textarea:valid{
    border-bottom: 2px solid #FFD42C;
}
input:focus,
textarea:focus{
    outline:none;
}
