@charset "UTF-8";

body {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}
h2 {
/* 	font-size: 48px; */
	font-size: 44px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	color: #000000;
	margin-top: 20px;
}
       
.registerFormWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 35px;
}

.registerFormDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.registerFormRow {
	display: flex;
	width: 100%;
	margin: 5px 0px;
	padding: 5px 10px;
}

.registerFormRow input {
	padding: 5px 10px;
}

.registerFormLabel {
	width: 130px;
	text-align: right;
	margin-right: 15px;
	font-weight: bold;
}

.registerFormInputBox {
	display: flex;
	justify-content: flex-start;
}

.registerFormInputSub {
	margin-left: 10px;
	border: none;
	border-radius: 2px;
	background-color: #ffff00;
	color: #fff;
}

.ck {
	padding-bottom: 50px;
}

.ck>input {
	border: 1px solid #cecece;
	border-radius: 1px;
	background-color: white;
	color: black;
	padding: 5px;
	height: 30px;
}

.ck>input:hover {
	background: #5E5E5E;
	color: white;
}
.addrFormRow {
	display: flex;
	width: 80%;
	margin: 5px 0px;
	padding: 5px 10px;
}
.addrFormLabel {
	width: 130px;
	text-align: left;
	margin-right: 15px;
	font-weight: bold;
}
.addrFormInputBox {
	display: flex;
	justify-content: flex-start;
}
.form-group{
	  margin-bottom: 15px;
}

