@charset "UTF-8";

 a{
  	text-decoration : none;
  }
  table{
 	border-collapse: collapse;
 	width: 640px;
 	margin : 30px;
 	text-align: left;
 	overflow-x:hidden
  }
  td, th{
  	border : 1px solid black;
  	height: 50px;
  }
  th{
  	font-size : 17px;
  }
  thead{
  	font-weight: 700;
  }
  
  .</div>