@charset "UTF-8";

.comlogoMenu {
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.comMyMenuContainer{
	display: flex;
}

.comMyMenuContainer-in{
	flex-direction: column;
}

.menuDown{
	margin-top: 30px;
	margin-left: 35px;
	display: flex;
	
}

.CompanyMypageMenu{
	align-content: space-evenly;
}

.menuBox{
	margin-bottom: 20px;
}