@charset "UTF-8";

.CompanyMypageContainer{
	display: flex;
	margin-bottom: 30px;
}

.CompanyMypageContainer > div {
	margin: 0 auto;
	width: 1000px;
}


.comInfoUpper{
	display: flex
	min-height: 200px;
}

.comInfoUpper > div{
	margin-top: 50px;
	margin-bottom: 50px;
}

.comInfoUnder{
	display: flex;
}

.comInfoleft{
	width: 30%;
}

.comInforight{
	width:70%;
}

.search_form{
	display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 30px;
}

.MemImg{
	width: 150px;
	height: 150px;
	border: 1px solid black;
}
